services:
  app:
    image: koruwu/muebleria-app:latest
    build: .
    container_name: django
    ports:
      - "8000:8000"

    env_file:
      - .env

    volumes:
      - .:/code
    command: python manage.py runserver 0.0.0.0:8000
