@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=National+Park:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Condensed+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(10deg, #e2e2e2, #A4795C) ;
}
.container {
    position: relative;
    width: 850px;
    height: 340px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0,0, .2);
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #5A3620;
    display: flex;
    align-items: center;
    text-align: center;
}
form{
    width: 100%;
}
.container h1{
    font-size: 36px;

}
.input-box{
    position: relative;
    margin: 30px;
}
.text-white{
    color: #fff;
}