@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=National+Park:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Condensed+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(10deg, #e2e2e2, #A4795C) ;
}
.container {
    position: relative;
    width: 850px;
    height: 400px;
    background-color: #5A3620;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0,0, .2);
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #5A3620;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px;
    z-index: 1;
}
.form-box.password{
    visibility: hidden;
}
form{
    width: 100%;
}
.container h1{
    font-size: 36px;

}
.input-box{
    position: relative;
    margin: 30px;
}
.input-box input, button{
    width: 100%;
    padding: 10px 47px 10px 17px;
    border-radius: 8px;
    border: none;
    outline:none;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 0 20px rgba(0, 0,0, .2);
    background: #eee;
}
.input-box i{
    position: absolute;
    right: 20px;
    top:47%;
    transform: translatey(-50%)
}
.text-white{
    color: #fff;
}
.btn{
    padding: 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: #3D1901;
    color: #fff;
}

.toggle-box{
    position: absolute;
    height: 100%;
    width: 100%;
}
.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-panel p{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
}

